<div class="page">
  <div class="auth-container">
    <div class="form">
      <img class="logo" src="images/logo.svg" alt="">
      <form (ngSubmit)="onSignup()">
        <h1>Sign Up</h1>
        <div class="field">
          <label for="email">Name</label>
          <input type="name" id="name" [(ngModel)]="user.name" name="name" required>
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
        </div>
        <button type="submit">Sign Up</button>
      </form>
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
    <div class="image">
    </div>
  </div>
</div>