.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  display: flex;
  gap: 10vw;
  width: 70vw;
  height: 80vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 40px;
  overflow: hidden;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2vw;
  gap: 2vh;
}

.logo {
  width: 10vw;
  top: 3rem;
  left: 1.5rem;
}

h1 {
  font-size: 2rem;
  margin-left: 0.5vw;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.field {
  padding:10px;
  border:1px solid;
  border-radius: 10px;
  margin:10px;
  width: 80%;
  position: relative;
}

label{
  position:absolute;
  top:-14px;
  left:20px;
  padding: 0 3px;
  background-color:white;
}

input{
  border:none;
  width: 100%;
}

input:focus {
  border: none;
  outline: none;
}

.image {
  width: 50%;
  background-image: url(https://images.unsplash.com/photo-1734027870965-a172e76582c0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0% 30%;
}

button {
  width: 30%;
  padding: 10px;
  border-radius: 50px;
  background-color: #6bb252;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: .5rem;
}